*{
    margin: 0;
    padding: 0;
}
.mar{
margin-top:3rem;
}
body{
   
    background:url('bg.jpg')no-repeat center top;
}
#container
{
    display: flex;
    flex-direction: column;
}
#newalarm
{
    width: 250px;
    margin: auto;
    margin-top: 1rem;
}
h1{
    color: white;
    text-align: center;
}
